html {
    font-family: 'Playfair Display';
}


#logo {
    max-width: 250px;
}

#filters {
    text-align: center;
    margin-top: -170px;
}

#filters li {
    display: inline-block;
    padding: 20px;
    font-size: 1.7rem;
}

#search-container {
    float: right;
    margin-top: -60px;
    margin-right: 25px;
}

#recipe-card {
    
}

.container {
display: flex;
flex-direction: row;
}

.column {
   margin-top: 100px;
}

#side-bar {
    width: 20%;
}

#recipe-card {
    width: 80%;
}

#recipe-index-card {
    width: 1000px;
    height: 600px;
    box-shadow: 10px 10px 20px rgba(33, 32, 32, 0.686);
    background-color: #E8DDD1;
}

#recipe-right, #recipe-left {
    width: 50%;
    margin-left: 30px;
}

h2 {
    letter-spacing: 2px;
}

#selected-img {
    object-fit: cover;
    max-width: 400px;
    height: 500px;
    margin: auto;
    border-radius: 25px;
}
