html {
    font-family: 'Playfair Display';
}


#logo {
    max-width: 250px;
}

#filters {
    text-align: center;
    margin-top: -160px;
}


header {
    max-width: 1500px;
    margin: auto;
}


#container {
    max-width: 1500px;
    margin: auto;
}


nav ul {
    margin: 0;
    padding: 0;
    margin-right: 60px;
    list-style: none;
}


#filters li {
    display: inline-block;
    margin-left: 50px;
    margin-top: 20px;
    font-size: 1.7rem;
    cursor: pointer;
}



#filters li {  
    position: relative;
}


#filters li::before {
    content: '';
    display: block;
    height: 5px;
    width: 0%;
    background-color: #6B7C60;
    position: absolute;
    top: 35px;
    transition: all ease-in-out 200ms;
}

#filters li:hover::before {
    width: 100%;
}



/* .hidden-description {
    width: 600px;
    margin: auto;
    left: 300px;
    position: relative;
    margin-top: 10px;
    display: none;
}

.hidden-description q {
    text-align: center;
    font-size: 0.8rem
} */

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltip-text {
    visibility: hidden;
    width: 500px;
    background-color: #E8DDD1;
    color:black;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -250px;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
  }

#search-container {
    float: right;
    margin-top: -30px;
    margin-right: 25px;
}

#search-bar {
    border-radius: 30px;
    width: 175px;
    height: 23px;
    border-color: #6B7C60;
}


.fa-search {
    color: #6B7C60;
    cursor: pointer;
}

input:focus::placeholder {
    color: transparent;
  }


label #button,
label #cancel {
    font-size: 1.5rem;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    margin-top: -250px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}


/* @media (max-width: 1130px){
    label #button {
        display: block;
        margin-top: -250px;
        
    }

    #search-container {
        margin-top: -170px;
    }

     nav ul {
        position: fixed;
        background-color: rgb(248, 248, 248);
        width: 100%;
        height: 100vh;
        top: 440px;
        left: -200%;
        text-align: center;
        transition: all 750ms;
        
    }

    #filters li {
        display: block;
        top: 1px;
        margin: auto;
        line-height: 0px;
        padding-top: 70px;
    }

    #filters li:hover::before {
        width: 0%;
    }

    nav ul li {
        font-size: 1.1rem;
    }

    #check:checked ~ ul {
        left: 0;
    }

    #check:checked ~ label #button {
        display: none;
        margin-top: -250px;
    }

    #check:checked ~ label #cancel {
        display: block;
        margin-top: -250px;
    }
} */

.container {
display: flex;
flex-direction: row;
}

.column {
   margin-top: 200px;
}

#side-bar {
    width: 20%;
    height: 600px;
    overflow: auto;
    margin-right: 10px;
}


#side-bar li {
    cursor: pointer;
    list-style: none;
}

#recipe-name {
    font-family: 'Cedarville Cursive', cursive;
    margin-bottom: -3px;
    font-size: 1.7rem;
    width: 350px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


#recipe-hr {
    background-color: #6B7C60;
    color:#6B7C60;
    height: .1rem;
    margin-right: 55px;
    margin-bottom: 20px;
}

.card-list {
    list-style-position: inside;
    padding-left: 13px;
    
}


#recipe-card {
    width: 80%;
    
}

#recipe-index-card {
    width: 1000px;
    height: 600px;
    box-shadow: 10px 10px 20px rgba(33, 32, 32, 0.686);
    background-color: #E8DDD1;
}

/* #recipe-right, #recipe-left {
    width: 50%;   
} */

#recipe-left {
    margin-left: 40px;
    width: 46%;
}

#recipe-right {
    overflow: auto;
    overflow-x: hidden;
    padding-right: 20px;
    width: 54%;
}

.right-hr {
    background-color: #6B7C60;
    color:#6B7C60;
    height: .05rem;
    margin: 10px 55px 20px 55px;
}

/*centered header*/
h2 {
    letter-spacing: 2px;
    text-align: center;
    font-size: 20px;
    font-weight: 900;
}

/*removed ul styling*/
div#recipe-right ul li {
    list-style: none;
    padding-bottom: 10px;
}

#ingredient-ul {
    display: flex;
    flex-direction: row;
    
}


#selected-img {
    object-fit: cover;
    max-width: 380px;
    height: 480px;
    margin: auto;
    border-radius: 25px;
    
}

/*button styling*/

#button {
    text-align: center;
    margin-top: 50px;
    margin-left: 230px;
}

button {
    background-color: #6B7C60;
    border: none;
    color: #fff;
    width: 175px;
    height: 40px;
    font-size: .9rem;
    text-decoration: none;
    border-color: #fff;
}


button:hover {
    background-color: #fff;
    color: #6B7C60;
    border-color: #6B7C60;
    border: 2px solid #6B7C60;
    cursor: pointer;
}


#filters-container-container {
    max-width: 1510px;
    margin: auto;
}

.filters-container {
    background-color: #fff;
    padding: 20px;
    justify-content: center;
   
}

#categories {
    height: 380px;
    width: 1500px;
    flex-wrap: wrap; 
    flex-direction: row;
    display: none;
    background-color: rgba(255, 255, 255, 0.686);
    margin-top: 100px;
    padding: 20px;
    border-bottom: 5px groove #6b7c608c;
    position: absolute;
    backdrop-filter: blur(5px);
}


#mainingredient {
    height: 380px;
    width: 1500px;
    flex-wrap: wrap; 
    flex-direction: row;
    display: none;
    background-color: rgba(255, 255, 255, 0.604);
    margin-top: 100px;
    padding: 20px;
    border-bottom: 5px groove #6b7c608c;
    position: absolute;
    backdrop-filter: blur(5px);
}




#region {
    height: 380px;
    width: 1500px;
    flex-wrap: wrap; 
    flex-direction: row;
    display: none;
    background-color: rgba(255, 255, 255, 0.604);
    margin-top: 100px;
    padding: 20px;
    border-bottom: 5px groove #6b7c608c;
    position: absolute;
    backdrop-filter: blur(5px);
}

.filter-div {
    padding-left: 30px;
    padding-right: 30px;  
}

@media(max-width: 1481px) {
    .filter-div {
        margin-left: -80px;
        padding-right: 70px;
    }

    #region {
        height: 500px;
    }
}

@media(max-width: 1450px) {
    .filter-div {
        margin-left: -80px;
        padding-right: 180px;
    }

    #region {
        height: 600px;
    }
}



.categories-img, .mainingredient-img, .region-img {
    height: 100px;
}

.region-img {
    border-radius: 50px;
}

.filter-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
}

#recipe-list {
    list-style-position: inside;
    padding-left: 0;
    overflow: auto;
}

.recipes-list {
    padding-bottom: 20px;
    list-style-position: inside;
    padding-left: 0;
}

.recipes-list:hover {
    color: #6B7C60;
}

.categories-img, .mainingredient-img, .region-img {
    cursor: pointer;
}

.fa-shopping-basket {
    color: #6B7C60;
    font-size: 2rem;
    margin-left: 1050px;
    position: absolute;
}

.fa-shopping-basket:hover {
    font-size: 2.2rem;
    cursor: pointer;
}

.fa-plus {
    color: #6B7C60;
    font-size: 2rem;
    margin-left: 1054px;
    position: absolute;
    margin-top: 45px;
    display: block;
}

.fa-plus:hover {
    font-size: 2.2rem;
    cursor: pointer;
}

.fa-check-circle {
    color: #42a202;
    font-size: 3rem;
    margin-left: 1045px;
    position: absolute;
    margin-top: 45px;
    display: none;
}

#shopping-list-header {
    padding: 0px 0px 0px 30px;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); 
    backdrop-filter: blur(4px);
  }
  

  .modal-content {
    background-color: #fff;
    margin: 25% auto; 
    padding: 20px 20px 20px 65px;
    border: 1px solid #888;
    width: 40%; 
    background-color: #fff;
    /* background-image:
    linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
    linear-gradient(#eee .1em, transparent .1em);
    background-size: 100% 1.3em; */
  }
  
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }